.-second-section {
  .first-flowers-container {
    margin-bottom: 30px;
  }
  h1 {
    font-family: "Frankfurter_Russia";
  }
  .flower {
    padding: 40px;
    background-color: #fffecc;
    border-radius: 5px;
    img {
      width: 100%;
    }
  }
  .first-flower {
    background-color: #f4e8ec;
  }
  .third-flower {
    background-color: #d1dffb;
    img {
      height: 197.29px;
      width: 269.99;
    }
  }
  .fourth-flower {
    background-color: #e3cbeb;
  }
  .fifth-flower {
  background-color: #d1c1dc;

  }
}