section.section.-section-main
  include header.pug
  .container
    .row.section__content
      .col-md-7
        p.-description Сладкие воздушные букеты из маршмеллоу и мармеладок
        .btn.btn-primary Купить букет
      .col-md-5
        img.flower-section(src="./assets/images/card_bouquet5.png")
    img.drops(src="./assets/images/1920_1.png")
section.section.-section-features
  .container
    .row.section__content
      .col-md-3
        img(src="assets/images/feature-time.png")
        p Срок хранения больше 6 месяцев
      .col-md-3
        img(src="assets/images/feature-components.png")
        p Натуральные компоненты
      .col-md-3
        img(src="assets/images/feature-shape.png")
        p Бесплатная доставка
      .col-md-3
        img(src="assets/images/feature-shape.png")
        p Низкая колорийность