nav.navbar
  .container
    .navbar__logo
      img(src="./assets/images/logo-white.png")
    .navbar__links
      a Наши букеты
      a Упаковка
      a Доставка
      a Контакты
    a.navbar__phone(href="tel:89211849374") +7 (921) 184-93-74