@import '../../node_modules/bootstrap/scss/bootstrap';

@import "./var";
@import "./components/section";
@import "./components/navbar";
@import "./components/second-section";

@font-face {
  font-family: "Frankfurter_Russia";
  src: url("../fonts/Frankfurter_Russia.otf");
}
@font-face {
  font-family: "Comfortaa-Regular";
  src: url("../fonts/Comfortaa-Regular.ttf");
}



img {
  max-width: 100%;
}
